body {
    text-align: center;
    font-family: sans-serif;
}

form {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#display {
    border: 1px black solid;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

th {
    text-align: center;
}

table {
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#playerStats, #results {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}